<!-- 商品详情页 -->
<div>
  <!-- 商品信息 -->
  <div class="proTitle">
    <img src="http://placehold.it/800x350">
    <h4 class="float-right">当前价格：{{product.price}}</h4>
    <h4>-- {{product.title}} -- </h4>
    <p class="clearfix"> --- {{product.desc}}</p>
    <div class="grade">
      <span class="float-right">评论：{{comments.length}}</span>
      <app-stars [rating]="product.rating"></app-stars>
    </div>
  </div>
  <!-- 评论信息 -->
  <div class="proComment">
    <div *ngFor="let comment of comments">
      <hr>
      <p>
        <app-stars [rating]="comment.rating"></app-stars>
      </p>
      <p class="float-right">{{comment.timestamp}}</p>
      <p>{{comment.user}}</p>
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>